<div class="container">
	<div class="row">
		<div class="col cell">
			Anim adipisicing eu amet sit excepteur pariatur incididunt pariatur sit laborum in adipisicing. Nisi mollit dolor do amet deserunt
			deserunt reprehenderit quis aliquip ipsum ea. Aliquip esse reprehenderit officia est est aliquip proident voluptate qui enim laboris
			magna adipisicing. Aute commodo sint Lorem irure. Non sint aute eu et dolor ullamco enim sit dolor.
		</div>
	</div>
	<div class="row">
		<div class="col cell">
			Do exercitation dolor amet dolor. Reprehenderit fugiat in reprehenderit qui quis fugiat officia. Incididunt esse aliqua duis excepteur
			eiusmod dolor est voluptate cillum et consequat exercitation.
		</div>
		<div class="col cell"><img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" /></div>
	</div>
</div>
