.cell {
	margin: 10px;
	border: 1px solid var(--body-border-color);
	background-color: var(--body-bg-color);
	padding: 10px;
}

img {
	width: 100%;
	max-width: 100%;
	min-width: 250px;
	height: auto;
}
