header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 3px;
	padding-top: 8px;
	background-color: var(--bs-green);
}

header .nav-link {
	color: white;
}

ul {
	padding-left: 10px;
	margin-bottom: 10px;
	flex-grow: 1;
}
